body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.container {
    max-width: 1920px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#map
{
    width:100%;
}

